@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e3fc;
  --foreground: #365bad;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #365bad;
    --foreground: #e1e3fc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: none;
  
}

.contact-wrap:hover .hover-color {
  color: #e1e3fc;
}

.Intro:hover .hover-transform {
  transform: translate3d(0px, -0.6rem, 0px) rotate(25deg);
}

.Intro:hover .hover-move-up {
  transform: translateY(-0.5rem);
}

.Intro:hover .hover-color {
  color: #e1e3fc;
}